* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
}
.title {
    width: 60%;
    height: auto;
    margin: auto;
}

.content {
    background:linear-gradient( rgb(255, 247, 177),  rgb(255, 231, 110));
    width:100%;
    height:auto;
}