* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    color: rgb(37, 37, 37);
    background: linear-gradient(
        270 deg,
         rgb(0, 247, 255),
         rgb(52, 173, 254),
         rgba(77, 228, 255, 0.54),
         rgb(144, 249, 255));
}
.title {
    width: 60%;
    height: auto;
    margin: auto;
}